* {
    margin:0;
    padding:0;
    box-sizing:border-box;

}
#canvas {
border:2px solid black;
}
.dropdown {
    background-color: brown;
    align-items: center;
    position: relative;
}
select {
    background-color: aquamarine;
}