* {
    margin:0;
    padding:0;
    box-sizing:border-box;

}
#canvas {
border:2px solid black;
}
.dropdown {
    background-color: brown;
    align-items: center;
    position: relative;
}
.tools{
    border: 1px solid black;
    align-items: center;
    padding: 10px;
    margin: 10px;
    

}
button{
    background-color: white;
    padding: 5px;
    align-items: center;
    border: none;

}